<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>TeamPalak</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/css/nivo-slider.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Open+Sans:400,300,300italic,400italic" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/success.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/img/roundlogo.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <!-- =======================================================
    Theme Name: Scaffold
    Theme URL: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
  
  
</head>

<body>

  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="client.html">
						<img src="assets/img/logo.png" alt="" />
				  </a>
          <!-- end logo -->

          <!-- top menu -->
          <div>
            <nav>
              <ul class="nav topnav">
                <li class="dropdown success active">
                  <a href="client.html"><i class="icon-home icon-white"></i> Home</a>
                </li>
         
				<li class="dropdown warning">
                  <a href="Tournaments.html"><i class="icon-bullhorn icon-white"></i> Tournaments</a>
                </li>
				
					 <li class="dropdown danger">
                  <a href="#"><i class="icon-leaf icon-white"></i> Registration</a>
                  <ul class="dropdown-menu">
                    <li><a href="RegisterTeam.html">Registered Team</a></li>
					<li><a href="RegisteredTournaments.html">Registered Tournaments</a></li>
                  </ul>
                </li>
				
				    <li class="dropdown info">
                  <a href="#"><i class="icon-list icon-white"></i>My Account</a>
                  <ul class="dropdown-menu">
                    <li><a href="ViewAccount.html">View Account</a></li>
                    <li><a href="index.html">Sign Out</a></li>
                  </ul>
                </li>
				
				 <li class="dropdown primary">
                
					<a href="#" id="notificationLink"><i class="icon-star icon-white"></i> Notifications</a>
					<span id="notification_count">3</span>

					<div id="notificationContainer">
						<div id="notificationTitle">Notifications</div>
						<div id="notificationsBody" class="notifications"></div>
						<div id="notificationFooter"><a href="#">See All</a></div>
					</div>

                 </li>
					
                  </ul>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>

  <section id="intro">
    <div class="jumbotron masthead">

      <div class="container">
        <div class="row">
          <div class="span12">

            <div id="slider" class="nivoSlider">
              <img src="assets/img/slides/nivo/img2.jpg" data-thumb="assets/img/slides/nivo/img2.jpg" alt="" title="#htmlcaption1" />
              <img src="assets/img/slides/nivo/img3.jpg" data-thumb="assets/img/slides/nivo/img3.jpg" alt="" data-transition="slideInLeft" />
              <img src="assets/img/slides/nivo/img4.jpg" data-thumb="assets/img/slides/nivo/img4.jpg" alt="" title="#htmlcaption2" />
            </div>
         

          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- end tagline -->

  <section id="maincontent">
    <div class="container">

      <div class="row">
        <div class="span3">
          <h3 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapright m-icon-white"></i></span>&nbsp;&nbsp;Announcements</h3>
          <p>Announcements for the tournament details in each game and the winner's in each tournament.</p>
        </div>
        <div class="span3">
   

             <div class="span8">
          <div class="well well-success box">
         
            <pre>
             No announcements....
		

            </pre>
			
    
        </div>
       
        </div>
     
          </div>
        </div>
       
        </div>
  

      <!-- divider -->

      <!-- end divider -->


  </section>


  <section id="bottom">
    <div class="container">

      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="divider"></div>
        </div>
      </div>
      <!-- end divider -->


      <div class="row">
        <div class="span12">
          <h3><a class="btn btn-large btn-success" href="Tournaments.html"><i class="m-icon-big-swapdown m-icon-white"></i></a> Upcoming Tournaments</h3>

          <div id="latest-work" class="carousel btleft">
            <div class="row-fluid">
            <ul class="portfolio-area da-thumbs">		  
              <li>
			  <div class="col">
                <div class="thumbnail">
				   <div class="tooltip-demo image-wrapp">
                  <img src="http://placehold.it/300x200" alt="">
                  <div class="caption">
                    <h3>Tournament title</h3>
					<p>No. of participants :  
						<br> Game:
						<br> Registration price:
  
					</p><br> 
                    <p><a data-toggle="modal" href="#myModal" class="btn btn-success">More Info</a>
				  </div>
                </div>
			  </div>
              </li>
			 
				  
			 <li>
				  <div class="col">
					<div class="thumbnail">
					   <div class="tooltip-demo image-wrapp">
					  <img src="http://placehold.it/300x200" alt="">
					  <div class="caption">
						<h3>Tournament title</h3>
						<p>No. of participants :  
							<br> Game:
							<br> Registration price:
	  
						</p><br> 
						<p><a data-toggle="modal" href="#myModal" class="btn btn-success">More Info</a>
					  </div>
					</div>
				  </div>
				  </div>
				  </li>
				  
			   <li>
				  <div class="col">
					<div class="thumbnail">
					   <div class="tooltip-demo image-wrapp">
					  <img src="http://placehold.it/300x200" alt="">
					  <div class="caption">
						<h3>Tournament title</h3>
						<p>No. of participants :  
							<br> Game:
							<br> Registration price:
	  
						</p><br> 
						<p><a data-toggle="modal" href="#myModal" class="btn btn-success">More Info</a>
					  </div>
					</div>
				  </div></div>
				  </li>
				  
				<li>
				  <div class="col">
					<div class="thumbnail">
					   <div class="tooltip-demo image-wrapp">
					  <img src="http://placehold.it/300x200" alt="">
					  <div class="caption">
						<h3>Tournament title</h3>
						<p>No. of participants :  
							<br> Game:
							<br> Registration price:
	  
						</p><br> 
						<p><a data-toggle="modal" href="#myModal" class="btn btn-success">More Info</a>
					  </div>
					</div>
				  </div>
				  </div>
				  </li>
				  
				  <li>
				  <div class="col">
					<div class="thumbnail">
					   <div class="tooltip-demo image-wrapp">
					  <img src="http://placehold.it/300x200" alt="">
					  <div class="caption">
						<h3>Tournament title</h3>
						<p>No. of participants :  
							<br> Game:
							<br> Registration price:
	  
						</p><br> 
						<p><a data-toggle="modal" href="#myModal" class="btn btn-success">More Info</a>
					  </div>
					</div>
				  </div>
				  </div>
				  </li>
				  
				  <li>
				  <div class="col">
					<div class="thumbnail">
					   <div class="tooltip-demo image-wrapp">
					  <img src="http://placehold.it/300x200" alt="">
					  <div class="caption">
						<h3>Tournament title</h3>
						<p>No. of participants :  
							<br> Game:
							<br> Registration price:
	  
						</p><br> 
						<p><a data-toggle="modal" href="#myModal" class="btn btn-success">More Info</a>
					  </div>
					</div>
				  </div>
				  </div>
				  </li>
				  
				  
			   </div>
			 </ul>
            </div>
            </div>
          </div>
        </div>
 
  </section>
  
  
<!-- modal content -->
          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel">Tournament Title</h3>
            </div>
            <div class="modal-body">
              <h4>Game: League of Legends</h4>
              <p>No. of participants :  
							<br> Slots Left:
							<br> Registration price:  
							<br> Venue: 
							<br> Date: 
							<br> Time: 
						</p>
			  <hr>
              <h4>Bracketing</h4>
				  <!-- <p>This <a href="#" role="button" class="btn popover-test" title="A Title" 
				  data-content="And here's some amazing content. It's very engaging. right?">button</a> 
				  should trigger a popover on click.</p>
						<p><a href="#" class="tooltip-test" title="Tooltip">This link</a> 
						and <a href="#" class="tooltip-test" title="Tooltip">that link</a> should have tooltips on hover.</p>-->
			  <hr>
              <h4>Registration</h4>
				
              

              <hr>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
              <button class="btn btn-success">Register</button>
            </div>
          </div>
 
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <h4>About us</h4>
            <address>
					<strong>Team Palak</strong><br>
					113 M.Roxas Street Brgy. Tabora<br>
					Baguio City, Philippines<br>
					<abbr title="Phone">Phone:</abbr> (074) 620-3935
					</address>

            <address>
					<strong>Contact us</strong><br>
					<a href="mailto:#">TeamPalak.ph@gmail.com</a>
					</address>
          </div>
        </div>
       
        <div class="span4">
          <div class="widget">
            <h4>What is Team Palak?</h4></h4>
            <form class="form-horizontal" action="#" method="post">
              <fieldset>
                <p>
                  Team Palak is an e-game tournament maker that caters to gamers who would want to
				  join in tournaments. Team Palak provides gamers with more accesibility  to information
				  regarding e-Sports tournaments.
                </p>

              </fieldset>
            </form>
            <ul class="social_small">
              <li class="facebook first"><a href="https://www.facebook.com/TeamPalak.ph/" title="Facebook">Facebook</a></li>
              <li class="twitt"><a href="https://twitter.com/TeamPalakPH" title="Twitter">Twitter</a></li>
       
            </ul>
          </div>
        </div>
      </div>
    </div>

	
	
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>&copy; Team Palak - All rights reserved</p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <script src="assets/js/jquery-1.8.2.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/nivo/jquery.nivo.slider.js"></script>
  <script src="assets/js/nivo/setting.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>

</body>
<script>
	$(document).ready(function()
			{
			$("#notificationLink").click(function()
			{
			$("#notificationContainer").fadeToggle(300);
			$("#notification_count").fadeOut("slow");
			return false;
			});

			//Document Click hiding the popup 
			$(document).click(function()
			{
			$("#notificationContainer").hide();
			});

			//Popup on click
			$("#notificationContainer").click(function()
			{
			return false;
			});

			});
</script>

<style>
	#notification_li
			{
			position:relative
			}
			#notificationContainer 
			{
			background-color: #fff;
			border: 1px solid rgba(100, 100, 100, .4);
			-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
			overflow: visible;
			position: absolute;
			top: 30px;
			margin-left: -170px;
			width: 400px;
			z-index: -1;
			display: none; // Enable this after jquery implementation 
			}
			// Popup Arrow
			#notificationContainer:before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			color: transparent;
			border: 10px solid black;
			border-color: transparent transparent white;
			margin-top: -20px;
			margin-left: 188px;
			}
			#notificationTitle
			{
			font-weight: bold;
			padding: 8px;
			font-size: 13px;
			background-color: #ffffff;
			position: fixed;
			z-index: 1000;
			width: 384px;
			border-bottom: 1px solid #dddddd;
			}
			#notificationsBody
			{
			padding: 33px 0px 0px 0px !important;
			min-height:300px;
			}
			#notificationFooter
			{
			background-color: #e9eaed;
			text-align: center;
			font-weight: bold;
			padding: 8px;
			font-size: 12px;
			border-top: 1px solid #dddddd;
			}



		#notification_count 
		{
		padding: 3px 7px 3px 7px;
		background: #cc0000;
		color: #ffffff;
		font-weight: bold;
		margin-left: 77px;
		border-radius: 9px;
		-moz-border-radius: 9px; 
		-webkit-border-radius: 9px;
		position: absolute;
		margin-top: -11px;
		font-size: 11px;
		}
</style>

</html>
